<html>
  <head>
    <title>Add User Options </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Add New User to System  </h1>
      	<form action="/linuxuser" method ="get" enctype="multipart/form-data">
			<button type = "submit">Add New Linux User  </button>
		</form>
		<form action="/capture" method ="get" enctype="multipart/form-data">
			<button type = "submit">Add Image to pos repo  </button>
		</form>
    <form action="/permissions" method ="get" enctype="multipart/form-data">
      <button type = "submit">Add/Change user Premissions  </button>
    </form>
    </div>
  </body>
</html>